body {
  /* Layer the PNG over the gradient */
  background-image: 
    url('../Assets/Images/general/LogoDraft2NoBackground.png'), 
    linear-gradient(to right, #000000, #bdc3c7);
  
  /* Ensure the PNG doesn't repeat and is centered horizontally and positioned more towards the center vertically */
  background-repeat: no-repeat, repeat;
  background-position: center center, center center; 
  background-size: 25%, cover; 

  /* Set the text color to golden orange */
  color: #FFA500;

  /* Make the background fixed */
  background-attachment: fixed;
}
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  
  h1 {
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar div {
    display: flex;
    gap: 10px;
  }
  
  /* Define the initial state and transition for all links */
  .navbar a {
    transition: transform 0.3s ease; /* 0.3s is the duration of the animation. Adjust as needed. */
    display: inline-block; /* Required for transform to work on inline elements like <a> */
  }
  
  /* Define the hover state */
  .navbar a:hover {
    transform: scale(1.1); /* 1.1 will make the link 10% larger. Adjust as needed. */
  }
  